@using Codeer.LowCode.Blazor.OperatingModel
@using Codeer.LowCode.Blazor.Repository.Match
@using Codeer.LowCode.Bindings.Radzen.Blazor.Properties
@using Codeer.LowCode.Bindings.Radzen.Blazor.Internal
@inherits FieldComponentBase<FileField>

<div class="mb-2">
  <label class="form-label mb-1" for="@WebElementId">@(Resource.SearchField_FileField_FileName)</label>
  <div class="d-flex">
    <RadzenTextBox @bind-Value:get="FileNameValue" @bind-Value:set="OnFileNameChanged" data-search-target="filename" class="flex-grow-1"/>
    <MatchConditionDropdown @bind-MatchComparison="Field.SearchFileNameComparison" data-search-target="filenamematch"/>
  </div>
</div>

<div>
  <label class="form-label mb-1" for="@_fileSizeId">@(Resource.SearchField_FileField_FileSize)</label>
  <div class="d-flex align-items-center">
    <RadzenNumeric TValue="decimal?" @bind-Value:get="@FileSizeMoreThanValue" @bind-Value:set="@OnFileSizeMoreThanChanged"
                   class="flex-grow-1" data-search-target="min"/>
    <span>～</span>
    <RadzenNumeric TValue="decimal?" @bind-Value:get="@FileSizeLessThanValue" @bind-Value:set="@OnFileSizeLessThanChanged"
                   class="flex-grow-1" data-search-target="max"/>
  </div>
</div>

@code {

  private readonly string _fileSizeId = Guid.NewGuid().ToString();

  private string? FileNameValue => Field.SearchFileName;
  private decimal? FileSizeMoreThanValue => Field.SearchFileSizeMin;
  private decimal? FileSizeLessThanValue => Field.SearchFileSizeMax;

  private async Task OnFileNameChanged(string? value) {
    await Field.SetSearchSearchFileNameAsync(value);
  }

  private async Task OnFileSizeMoreThanChanged(decimal? value) {
    await Field.SetSearchFileSizeMinAsync(value);
  }

  private async Task OnFileSizeLessThanChanged(decimal? value) {
    await Field.SetSearchFileSizeMaxAsync(value);
  }

}