@using Codeer.LowCode.Blazor.Repository.Design
@using Codeer.LowCode.Bindings.Radzen.Blazor.Internal.Components
@inherits RadzenFieldComponentBase<SelectField, RadzenSelectFieldDesign>

@if (IsViewMode) {
  <span class="d-block py-2">@(ViewOnlyValue)</span>
} else {
  <div>
    <RadzenDropDown TValue="string" @bind-Value:get="SelectedValue" @bind-Value:set="@OnChange" InputId="@WebElementId" Disabled="@IsDisabled" Name="@WebElementId"
                    Data="ItemsSource" TextProperty="@nameof(Data.Text)" ValueProperty="@nameof(Data.Value)" class="d-block" />
    <Validator IsValid="@Field.IsValid" ErrorMessage="@Field.ErrorText" />
  </div>
}

@code {
  private bool IsDisabled => Field.IsEnabled == false;
  private bool IsViewMode => Field.IsViewOnly;
  private string? _bugFixValue;
  private string? SelectedValue
  {
    get
    {
      if (_bugFixValue != null)
      {
        //ï¿½ï¿½xï¿½sï¿½ï‡ï¿½ï¿½ï¿½pï¿½Ì•ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½Ô‚ï¿½
        var ret = _bugFixValue;
        _bugFixValue = null;
        StateHasChanged();
        return ret;
      }
      return Field.Value;
    }
  }

  private List<Data> ItemsSource => GetItemsSource();
  private string? ViewOnlyValue => Field.Services.AppInfoService.IsDesignMode ? "Select" : Field.DisplayText;

  protected override async Task OnAfterRenderAsync(bool firstRender) {
    await base.OnAfterRenderAsync(firstRender);
    await OnFocus();
  }

  private List<Data> GetItemsSource() {
    List<Data> emptyItems = Field.Design.EmptyCandidateType != SelectEmptyCandidateType.NotExist
      ? [new("", "")]
      : [];

    return emptyItems.Concat(Field.DisplayTextAndValue.Select(x => new Data(Field.Services.AppInfoService.Localize(x.Key), x.Value))).ToList();
  }

  private async Task OnChange(string? value) {
    if (string.IsNullOrEmpty(value)) {
      value = Field.Design.EmptyCandidateType == SelectEmptyCandidateType.StringEmpty ? string.Empty : null;
    }

    await Field.SetValueAsync(value);
  }

  private async Task OnFocus()
  {
    //ï¿½ï¿½ï¿½ï¿½ï¿½ÅŒï¿½ï¿½ï¿½Ï‚ï¿½ï¿½ï¿½ï¿½ï¿½Aï¿½Iï¿½ğ•¶ï¿½ï¿½ñ‚ªï¿½ï¿½ï¿½ï¿½Ä‚ï¿½ï¿½Ü‚ï¿½
    //ï¿½ï¿½ï¿½Ì‚ï¿½ï¿½ßˆï¿½uï¿½ï¿½ï¿½Oï¿½Ì•ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½İ’è‚µï¿½ÄÄ“xï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½lï¿½ï¿½İ’è‚·ï¿½ï¿½Æ‚ï¿½ï¿½ï¿½ï¿½ï¿½@ï¿½ï¿½ï¿½gï¿½ï¿½
    if (await Field.OnFocusAsync()) _bugFixValue = Guid.NewGuid().ToString();
  }

  private record Data(string Text, string Value);

}