@using Codeer.LowCode.Blazor.Repository.Design
@using Codeer.LowCode.Bindings.Radzen.Blazor.Internal.Components
@inherits RadzenFieldComponentBase<RadioButtonField, RadzenRadioButtonFieldDesign>

@if (Field.ModuleLayoutType == ModuleLayoutType.List && Field.IsViewOnly) {
  <span class="d-block py-2">
    @Field.Value
  </span>
} else {
  <RadzenRadioButtonList TValue="int?" @bind-Value:get="@IsChecked" @bind-Value:set="@OnChange" Name="@WebElementId">
    <Items>
      <RadzenRadioButtonListItem TValue="int?" Disabled="@(IsDisabled || IsViewMode)" Text="@Label" Value="1" />
    </Items>
  </RadzenRadioButtonList>
  <Validator IsValid="@(Field.GetRadioGroupField()?.IsValid ?? false)" ErrorMessage="@(Field.GetRadioGroupField()?.ErrorText)" />
}

@code {
  private bool IsDisabled => Field.IsEnabled == false;
  private bool IsViewMode => Field.IsViewOnly;
  private string Label => Field.Design.Text;

  private int? IsChecked => Field.Value ? 1 : null;

  private async void OnChange(int? value) {
    if (value == null) return;
    await Field.SetCheckAsync();
  }

}