@using Codeer.LowCode.Bindings.Radzen.Blazor.Internal.Components
@inherits RadzenFieldComponentBase<NumberField, RadzenNumberFieldDesign>

@if (IsViewMode) {
  <span class="d-block py-2">@GetViewOnlyValue()</span>
} else {
  if (Field.Design.IsSlider) {
    <RadzenSlider TValue="decimal" @bind-Value:get="@SliderValue" @bind-Value:set="@OnSliderChanged"
                  Min="@(Min ?? 0)" Max="@(Max ?? 100)" Step="@(Field.Design.Step?.ToString() ?? "1")"
                  Disabled="@IsDisabled" class="d-block w-100" />
  } else {
    <RadzenNumeric TValue="decimal?" @bind-Value:get="@Field.Value" @bind-Value:set="@RaiseOnValueChanged" Name="@WebElementId"
                   Disabled="@IsDisabled" ReadOnly="IsViewMode" Placeholder="@Placeholder" Max="@Max" Min="@Min"
                   Step="@(Field.Design.Step?.ToString() ?? "any")" class="d-block" />
  }
  <Validator IsValid="@Field.IsValid" ErrorMessage="@Field.ErrorText" />
}

@code {
  private bool IsDisabled => Field.IsEnabled == false;
  private bool IsViewMode => Field.IsViewOnly;
  private string? Placeholder => Field.Services.AppInfoService.Localize(Field.Design.Placeholder);
  private decimal? Max => Field.Design.Max;
  private decimal? Min => Field.Design.Min;
  private decimal SliderValue => Field.Value ?? 0;

  private async Task RaiseOnValueChanged(decimal? fieldValue) {
    await Field.SetValueAsync(fieldValue);
  }

  private async Task OnSliderChanged(decimal value) {
    await Field.SetValueAsync(value);
  }

  private string GetViewOnlyValue() {
    var value = Field.Services.AppInfoService.IsDesignMode ? 1000 : Field.Value;
    try {
      return value?.ToString(Field.Design.Format) ?? string.Empty;
    }
    catch (FormatException) {
      return value?.ToString() ?? string.Empty;
    }
  }

}