@using Codeer.LowCode.Bindings.Radzen.Blazor.Internal.Components
@inherits RadzenFieldComponentBase<TextField, RadzenTextFieldDesign>

@if (IsViewMode) {
  <span class="d-block py-2" style="@(WhiteSpaceStyle())">@ViewOnlyValue</span>
} else {
  if (Field.Design.IsMultiline) {
    <RadzenTextArea @bind-Value:get="@Value" @bind-Value:set="@RaiseOnValueChanged" Name="@WebElementId"
                    Disabled="@IsDisabled" ReadOnly="IsViewMode" MaxLength="@(MaxLength)" Placeholder="@Placeholder" Rows="@Rows" class="d-block w-100" />
  } else {
    <RadzenTextBox @bind-Value:get="@Value" @bind-Value:set="@RaiseOnValueChanged" Name="@WebElementId"
                   Disabled="@IsDisabled" ReadOnly="IsViewMode" MaxLength="@(MaxLength)" Placeholder="@Placeholder" class="d-block w-100" />
  }
  <Validator IsValid="@Field.IsValid" ErrorMessage="@Field.ErrorText" />
}

@code {
  private bool IsDisabled => Field.IsEnabled == false;
  private bool IsViewMode => Field.IsViewOnly;
  private string? Placeholder => Field.Services.AppInfoService.Localize(Field.Design.Placeholder);
  private int? MaxLength => Field.Design.MaxLength;
  private int Rows => GetRowCount();

  private int GetRowCount() {
    if (!Field.Design.IsAutoFitRows) return Field.Design.Rows ?? 3;
    var rows = Field.Design.Rows ?? 1;
    var lineCount = Field.Value?.Split(new[] { "\r\n", "\n" }, StringSplitOptions.None).Length ?? 1;
    return Math.Max(rows, lineCount);
  }
  private string? ViewOnlyValue => Field.Services.AppInfoService.IsDesignMode ? "text" : Field.Value;

  private string? _tempValue;

  private string? Value {
    get {
      if (_tempValue != null) {
        var ret = _tempValue;
        _tempValue = null;
        return ret;
      }

      return Field.Value;
    }
  }

  private async void RaiseOnValueChanged(string? value) {
    await Field.SetValueAsync(value);
  }

  private string WhiteSpaceStyle()
    => Field.Design.IsMultiline ? "white-space: pre-line" : "";

}